.img-col {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
.face-recognise-image
{
  height: 100%;
  width: 100%;
}
/* Clear floats after image containers */
.video-row::after {
    content: "";
    clear: both;
    display: table;
  }

body
{
    background-color: antiquewhite;
}
canvas
{
    width:300px;
    height:300px;
}
video
{
   width:300px;
    height:300px;
}
img
{

  width:400px;
  height:300px;
  border:solid;

}
#video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}