canvas
{
    width:300px;
    height:300px;
}
video
{
   width:300px;
    height:300px;
}
img
{

  width:400px;
  height:300px;
  border:solid;

}
#video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}