{% extends 'base.html'%}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous">
</script>

<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

<title> Live Stream Video</title>

{% endblock %}


{% block body %}

{% if info=="Candidate not present in Records" %}
    <div><h1>Sorry! Candidate was not found in records</h1> </div>
{% else %}
    <div class="candidate-detail">
    <div>
        Name:- <label id="candidate-name">{{info["name"]}}</label>
    </div>
    <div>
        Seat No :- <label id="candidate-seatno">{{info["seatno"]}}</label>
    </div>
    <div>
        <img src={{info["img_url"]}}>
    </div>
    <div>
        <button class="verify-button">Verify</button>
    </div>
    </div>

        <div class ='video-row'>
        
        <div class="img-col">   
                <img class="face-detect-video">
                <div ><h3 class="form-alert" style="color:red;"></h3></div>
                
        </div>
        
        <div class="img-col" >
                <img class="face-recognise-image" ><br>
                <div><h3 class="face-name"></h3></div><br>
                <div><h3 class="candidate-status"></h3></div>
                
        </div>
        
        
        </div>
        <div id="container">
        <video autoplay src="" ></video>
    
        <canvas class="d-none"></canvas>
        </div>
        <script type="text/javascript"> window.myVar1 = "{{info['seatno']}}" </script>
        <script src="{{url_for('static',filename='javascript/verify_app.js')}}" defer></script>
{% endif %}
<div><a href="{{url_for('application')}}"><button>Back</button></a></div>
{% endblock %}