{% extends 'base.html'%}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous">
</script>

<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

<title> Live Stream Video</title>

{% endblock %}


{% block body %}

<h2>Live Stream app</h2>
<div class ='video'>
        <img >
        <h1>video</h1>
</div>
<div id="container">
    <video autoplay src="" ></video>
    <button>click</button>
    <canvas class="d-none"></canvas>
</div>



<script src="{{url_for('static',filename='javascript/app.js')}}" defer></script>


{% endblock %}