{% extends 'base.html'%}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous">
</script>

<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

<title> Drishyam </title>

{% endblock %}


{% block body %}

<h1>Drishyam</h1>
<div class="about-section"><h4>What you see is less of your eyes but more of your brain !!!</h4></div>


<!--Route to view and verify candidate application-->
<div class="select-card"><br>Candidate applications<a href="/application"><button>Get Started </button></a></div>

<!--Route to add new criminal records-->
<div class="select-card"><br>Add New Criminal Record <a href="/add_criminal_record"><button>Get Started </button></a></div>

<!--Route to Register New Candidate-->
<div class="select-card"><br>Register new candidate<a href="/candidate_registration"><button>Get Started </button></a></div>



{% endblock %}